app-aws-file-vm-cluster/src/main/app/file-vm-cluster.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
    <s3:config name="Amazon_S3__Configuration" accessKey="AKIAJAIXTQXFRUCRO3UA" secretKey="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" doc:name="Amazon S3: Configuration"/>
    <queued-asynchronous-processing-strategy name="Queued_Asynchronous_Processing_Strategy" maxThreads="100" minThreads="10" threadTTL="5000" poolExhaustedAction="WAIT" maxBufferSize="200" doc:name="Queued Asynchronous Processing Strategy"/>
    <flow name="file-vm-clusterFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="60000"/>
            <s3:get-object-content config-ref="Amazon_S3__Configuration" bucketName="gaurav-s3" key="file_bids" doc:name="Amazon S3"/>
        </poll>
        <object-to-string-transformer doc:name="Object to String"/>
        <expression-component doc:name="Expression"><![CDATA[String []bids=payload.split("\n");
payload=java.util.Arrays.asList(bids);]]></expression-component>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="bids" doc:name="VM"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="#[message.exception]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <flow name="file-vm-clusterFlow1" processingStrategy="Queued_Asynchronous_Processing_Strategy">
        <vm:inbound-endpoint exchange-pattern="one-way" path="bids" doc:name="VM"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="#[message.exception]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
</mule>
